*{
    margin: 0px;
    padding: 0px;
}

html{
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.container-fluid{
    padding: 0px;
    
}


.menuLateral{
    height: 100%;
    padding: 0px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);    
}

.lateral{
    padding: 0px;
}

.imagemItens{
    width: 20px;
    height: 20px;
}

nav ul{
    list-style: none;
}

.bannerMenu{
    width: 100%;
    height: 215px;
    opacity: 0.7;
}

.banner{
    width: 100%; 
    height: 500px;   
    opacity: 0.7;
    padding: 10px;
}

.fotoPerfilUm{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    position: absolute;
    z-index: 2;
    top: 390px;
    left: 30px;
}

.fotoPerfilDois{
    border-radius: 50%;
    width: 80px;
    height: 80px;
    position: absolute;
    z-index: 2;
    top: 30px;
    left: 20px;
    filter: grayscale(100%);
}

.nomeemail{
    position: absolute;
    z-index: 2;
    top: 125px;
    left: 10px;
    font-size: 12pt;
}

.social li{
   display: inline;
}

.social{
    z-index: 2;
    position: absolute;
    top: 180px;

}

.imagensSociais{
    width: 20px;
    height: 20px;
    margin-left: 25px;
    
}

.marginHr{
    margin-bottom: 50px;
}

.texto{
    text-align: justify;
}

.sub{
    color: #95a5a6;
    font-size: 20pt;
    margin-bottom: 40px;
}

.card{
    padding: 15px;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2);  
}


* {
    box-sizing: border-box;
}

.container {
  width: 100%;
  background-color: #ddd;
  padding: 0;
 
}

.skills {
  text-align: right;
  padding: 5px;
  color: white;
 
}



.html {width: 90%; background-color: #4CAF50;}
.css {width: 80%; background-color: #2196F3;}
.js {width: 70%; background-color: #f44336;}
.java {width: 80%; background-color: #808080;}

.comunicacao {width: 90%; background-color: #4CAF50;}
.proatividade {width: 85%; background-color: #2196F3;}
.lideranca {width: 80%; background-color: #f44336;}
.equipe {width: 95%; background-color: #808080;}

h5{
    padding-top: 15px;
 
}